:root {
    --main-head-color: #004f4f;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #008080;
  }

.modal-header {
    background: var(--main-head-color);
}

.header {
    border-bottom: 1px solid black;
    background: var(--main-head-color);
}

.inventory {
    border-bottom: 1px solid black;
    background: #055A5A;
    color: white;
}

.inventory span {
    font-size: 1.5em;
    padding-right: 1em;
    vertical-align: middle;
}

.inventory img {
    padding: 2px;
    padding-right: 5px;
    vertical-align: middle;
}



.wrapper {
    display: grid;
}

.cell_main {
    padding: 1rem;
    display: grid;
    justify-content: center;
    color: white;
}

.cell_main img {
    width: 100px;
    height: 100px;
}

.cell_main > h1 {
    color: white;
}

/* All Cell Specific styles */
.cell {
    align-items: center;
    justify-items: center;
    background: #88D9D9;
    min-width: 6em;
}

.cell p {
    margin: .2rem;
    font-size: 16px;
}

.cell h3 {
    padding: 0;
}

.progress-fill {
    background: #008080;
    width: 1%;
}

.tooltip p {
    margin: 0;
}

.tooltip-inner {
    background: var(--main-head-color);
}

.btn {
    font-weight: bold;
    background-color: #008080;
}