body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #008080;
  }

.header {
    border-bottom: 1px solid black;
    background: #004F4F;
}


.cell_main {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.cell_main img {
    width: 150px;
    height: 150px;
}

.cell_main > h1 {
    color: white;
}

/* All Cell Specific styles */
.cell {
    background: #88D9D9;
    width: 300px;
    height: 400px;
}

.cell p {
    font-size: 16px;
}

.cell h3 {
    padding: 0;
}

.progress-fill {
    width: 1%;
}

.arrow {
    background: #004F4F;
}
.tooltip-inner {
    background: #004F4F;
}